*, ::after, ::before, :host {
  box-sizing: border-box; }

.vanilla-modal {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #2C3E50; }
  .vanilla-modal:not(.opened) {
    display: none !important; }
  .vanilla-modal__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.9); }
  .vanilla-modal:not(.opened) .vanilla-modal__overlay {
    opacity: 0;
    transition: opacity .01s ease;
    transition-delay: .01s; }
  .vanilla-modal:not(.opened) .vanilla-modal__modal {
    animation: none;
    opacity: 0; }
  .vanilla-modal.opened .vanilla-modal__overlay {
    opacity: .6;
    transition: opacity .2s ease; }
  .vanilla-modal.opened .vanilla-modal__modal {
    opacity: 1; }
  .vanilla-modal__modal {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    z-index: 2;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    overflow: visible;
    animation: modal-slide-in 0.8s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both, modal-fade-in 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
  .vanilla-modal__dialog {
    position: relative;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4); }
  .vanilla-modal__description {
    color: #FFF;
    text-align: center; }
  .vanilla-modal:focus {
    background: #FFF; }
  .vanilla-modal__title {
    line-height: 1;
    margin: 0 0 4px;
    padding: 16px;
    border-bottom: solid 1px #DBE5EC; }
  .vanilla-modal__content {
    overflow: auto;
    min-height: 250px;
    padding: 48px 16px; }
  .vanilla-modal[fullblead-content] .vanilla-modal__content {
    padding: 0; }
  .vanilla-modal__footer {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-bottom: 0;
    text-align: right;
    background-color: #EDF2F6;
    border-top: 1px solid #DBE5EC;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .vanilla-modal__footer slot {
      display: flex;
      flex: 1;
      justify-content: flex-end; }
  .vanilla-modal__close {
    background: none;
    border: none;
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    color: white;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: #CD2A19;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15); }
  .vanilla-modal button {
    font-size: 14px; }

@-webkit-keyframes modal-slide-in {
  from {
    transform: translateY(400px); }
  to {
    transform: translateY(0); } }

@-moz-keyframes modal-slide-in {
  from {
    transform: translateY(400px); }
  to {
    transform: translateY(0); } }

@-o-keyframes modal-slide-in {
  from {
    transform: translateY(400px); }
  to {
    transform: translateY(0); } }

@keyframes modal-slide-in {
  from {
    transform: translateY(400px); }
  to {
    transform: translateY(0); } }

@-webkit-keyframes modal-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes modal-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes modal-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes modal-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

